@import "tailwindcss";

@theme inline {
  --font-vietnam: var(--font-serif-vietnam);
  --font-jakarta: var(--font-sans-jakarta);
  --breakpoint-sm: 480px;
  --breakpoint-tablet: 640px;
  --breakpoint-md: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --color-white: #ffffff;
  --color-turquoise-light: #4ac9ff;
  --color-turquoise-gray: #4db5ff;
  --color-turquoise-medium: #14b3f5;
  --color-turquoise-dark: #12abed;
  --color-gray-light: #e3e6f0;
  --color-gray-light-medium: #9199b3;
  --color-gray-medium: #9ea3b5;
  --color-gray-dark: #545970;
  --color-light: #2e407d;
  --color-blue-medium: #1f3685;
  --color-blue-medium-dark: #142157;
  --color-blue-dark: #121f4a;
  --color-blue-dark-black: #0a1436;
  --color-yellow: #ffa829;
  --color-brown-light: #8c6e7d;
  --color-brown-dark: #33292e;
  --color-orange: #ff5e5e;
  --color-black-light: #171a21;
  --color-black-dark: #000000;
}